/* Brand colors */
$brand-color: #EE6823;
$secondary-color:#0E1328;
$secondary-color-light: rgba( $secondary-color, .97 );

/* Color palette */
$slime: #00875A;
$salmon: #FF7452;
$coogee: #2684FF;

/* Font colours */
$font-color: #253045;
$font-color-gray: #4a4a4a;
$font-color-light: #767676;

$background-color: #F1F1F1;

$white: #FFFFFF;

html {
    background: $background-color;
}