.text-reverse {
    color: $white;
  }
  
.text-center {
  text-align: center;
}
  
.text-uppercase {
  text-transform: uppercase;
}
  
.text-bold {
  font-weight: 700;
}


// Padding spaces
.padding-large-x0 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-large-x1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-large-x2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 40em){
  .padding-large-x0 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .padding-large-x1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .padding-large-x2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// padding left
.left-padding-x0 {
    padding-left: 60px;
}