<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <div class="brand-logo">
            <img src="assets/img/DV-logo-Horizontal-reverse.svg" alt="">
        </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="overview.html">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="brand.html">
            Brand
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="colors.html">
            color
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="typography.html">
            Typography
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="layout.html">
            Layout
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons.html">
            Buttons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forms.html">
            Forms
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons.html">
            Icons
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>MEDIA</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Brand
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Tone and voice
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Media Kit
          </a>
        </li>
      </ul>
    </div>
  </nav>